<h1>@ViewData["Title"]</h1>

<p>Use this area to provide additional information.</p>


<div class="jj">


@using (var db = new NetflouContext()){
foreach (var filme in db.Films)
                    {
                        ViewData["filmList"] += filme.Title;
                        ViewData["Title"] = filme.Title;
                        ViewData["Img"] = filme.Img;

                    } 
                   
}
	</div>