@{
    ViewData["Title"] = "Home Page";
}
<div>@ViewData["filmList"]</div>
<header class="l-header">
    <div class="l-header__logo">
        
    </div>
    <div class="l-header__browse">Browse</div>
    <ul class="l-header__nav">
        <li>Search</li>
        <li><i class="fa fa-bell" aria-hidden="true"></i></li>
        <li>Account</li>
    </ul>
</header>
<main>
    <article>
        <div class="l-hero">
            <div class="l-hero__text">
                <h1 class="c-title">
                    <span class="c-title__category">Original <strong>Netflix</strong></span>
                    <span class="c-title__name">Stranger Things</span>
                </h1>
                <p class="l-hero__subhl">Watch Season 2 Now</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>

                <div class="l-hero__buttons">
                    <button class="o-button"><i class="fa fa-play" aria-hidden="true"></i> Play</button>
                    <button class="o-button o-button--gray"><i class="fa fa-plus" aria-hidden="true"></i> My List</button>
                </div>
            </div>
            <img src="https://album.fr/wp-content/uploads/2017/10/strangerthingsthumbjpg-6ab191_1280w.jpg">
        </div>

        <section class="l-cards">
            <h2 class="l-cards__title">TV Shows</h2>
            <ul class="l-cards__list">
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/67683.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/62560.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/62688.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/posters/66732.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/67198.jpg)"></li>
            </ul>
        </section>

        <section class="l-cards">
            <h2 class="l-cards__title">Films</h2>
            <ul class="l-cards__list">
                	@foreach (Film film in Model)
        {
            <li class="l-cards__item" style="background-image:url(@film.Img)">@film.Title</li>
        }
                <li class="l-cards__item" style="background-image:url(https://kennedytorch.org/wp-content/uploads/2017/03/beforeifallmovie_trailer.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(https://viewfromacouch.files.wordpress.com/2010/10/easy-a-poster.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(https://www.tjtoday.org/wp-content/uploads/2014/11/Interstellar.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/62560.jpg)"></li>
                <li class="l-cards__item" style="background-image:url(http://static.newepisodes.co/thumbs/62560.jpg)"></li>
            </ul>
        </section>
    </article>
</main>
